/**index.wxss**/
$fWidth: 700rpx;
$iWidth: 500rpx;
$bg: #ffffff;

page {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

.form {
  background-color: $bg;
  width: $fWidth;
  margin: 100rpx auto 0;
  border-radius: 20rpx;
  padding: 40rpx 0;
}

.form-item {
  width: $iWidth;
  // margin-bottom: 50rpx;
  margin: 0 auto 50rpx;
}

.ipt {
  border: 1rpx solid #ddd;
  border-radius: 15rpx;
  height: 80rpx;
}

.extra-text{
  font-size: 22rpx;
  color: #999;
  margin-top: 15rpx;
}

.extra-btn{
  font-size: 22rpx;
  color: #999;
  /* margin-left: 25rpx; */
  margin: 0;
  border-radius: 25rpx !important;
  outline: none;
  border: none;
  background: #999 !important;
  height: 80rpx;
  line-height: 80rpx;
  color: #fff;
  font-size: 26rpx;
}

.code {
  width: 300rpx !important;
}

.code-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label {
  margin-bottom: 20rpx;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 30rpx 0;
}

.submit {
  width: $iWidth;
  margin: 60rpx auto 0;
}