/**app.wxss**/
@import "./assets/css/index.scss";
@import "./assets/css/normalize.scss";

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 200rpx 0;
  box-sizing: border-box;
} 
